/* Navbar styles */
#navbar0 {
    background-color:  rgba(36,161,235,255);
    overflow: visible;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: absolute;
    width:100% ;
}
  
#navbar0 .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: transparent;
    
}

#navbar0 .navbar a:hover {
    background-color: #f9bb12;
    
}

/* Container styles */
#container0 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    right: 10%;
    width: 300px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 15px;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    position: relative;
    cursor: grab;
}

.close {
    color: black;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
}

.close:hover {
    background-color: #f9bb12;
    transition: background-color 0.3s;
}

/* Dropdown menu styles */
.menu_deroulant {
    float: left;
    overflow: hidden;
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
}

.dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: none;
    background-color: rgba(36,161,235,255);
    font-family: inherit;
    margin: 0;
    text-align: center;
}

.dropbtn:hover {
    background-color: #f9bb12;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:color-mix(in hsl shorter hue, #24a1eb 100%, green 1%);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f9bb12;
}

/* Dropdown specific styles for parameters */
.dropdown-content .parameter {
    cursor: pointer;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: #24a1eb;
    font-size: 16px;
    border: none;
    outline: none;
}

.dropdown-content .parameter:hover {
    background-color: #f9bb12;
}

.dropdown-content .parameter:focus {
    background-color: #f9bb12;
}

/* Modal content button styles */
.modal-content button {
    display: block;
    padding: 14px 20px;
    cursor: pointer;
    margin: 10px auto;
}

/* Button hover effect */
button:hover {
    background-color: #f9bb12;
    transition: background-color 0.3s;
}

/* Button focus effect */
button:focus {
    background-color: #f9bb12;
    
}

/* Button Style */
button.child {
    border: none;
    padding: 14px 20px;
    cursor: pointer;
    margin: 10px auto;
    display: block;
    background-color: #24a1eb;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 5px;
}

button.child:hover {
    background-color: #f9bb12; /* Change color on hover */
    transition: background-color 0.5s;
}

button.child:focus {
    background-color: #f9bb12; /* Ensure color stays on focus */
}
        