html, body{
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
} 

.actions-wrapper {
    position: absolute;
    bottom: 0px;
    left: 20px;
    z-index: 1
}

body {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
} 


*:disabled {
  background-color: dimgrey;
  color: linen;
  opacity: 10;
  cursor: not-allowed;
}
.canvas {
  position: absolute;
}

.navbar-absolute {
  position: absolute;
  padding: 0.5rem;
}

.navbar-fixed {
  position: fixed;
  padding: 0.5rem;
  width: 100%;
  background-color: white;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 3.5rem;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}


.title-lg {
  padding: 0.5rem;
  font-size: 1.5rem;
  color: #111;
}

.text-md {
  padding: 0.5rem;
  font-size: 1.25rem;
  color: #111;
}

.image-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.image-example {
  object-fit: fill;
  width: 48rem;
  height: 24rem;
  padding: 0.5rem;
  transform: scale(0.75);
  transition: transform 0.3s;
}

.image-example:hover {
  transform: scale(1);
}

.btn-dark {
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: #1f2937; /* gray-900 */
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
}

.btn-blue {
  border-radius: 0.5rem;
  padding: 0.5rem 1.25rem;
  margin: 0.5rem;
  background-color: #3b82f6;
  color: white;
  font-weight: bold;
}

.link-blue {
  padding: 1rem 0.5rem;
  color: #3b82f6;
  font-size: 1.25rem;
  display: inline-block;
  text-decoration: none;
}

/* Ajoute d'autres classes pour tous les boutons et composants comme "actions_group", "alertInfo", "winInfo", etc. */
.actions-wrapper {
  position: fixed;
  bottom: 1.25rem; /* équivalent à bottom-5 (~20px) */
  right: 1.25rem;
  z-index: 1;
}

.timer {
  margin: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 0.875rem; /* équivalent à text-sm */
  padding: 0.5rem;
  border-radius: 0.375rem; /* équivalent à rounded (~6px) */
  z-index: 40;
  width:180px;
  text-align: center;
}
.screen-win,
.help-modal,
.poison-edit {
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.screen-win,
.help-modal,
.poison-edit {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
  overflow-y: auto;
  display: none;
}
.modal-container {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 28rem;
  margin: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  padding: 1%;
}

.close {
  position:relative;
  right: 5px;
  top: 150px;
}


.fas-fa-times-fa-lg {
  font-size: small;
  text-align: center;
}