/* html,
body{
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

body {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
} 



@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins';
  }
}

*:disabled {
  background-color: dimgrey;
  color: linen;
  opacity: 10;
  cursor: not-allowed;
}
#alertInfo {
  transition: opacity 0.5s ease-in-out;
}
